<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--We need this transformation in order to pre compile the templates in Debug mode.-->
  <!--Add the HealthCheckApiEndpoint in Debug mode-->  
  <appSettings>
    <add xdt:Transform="Insert" key="sf:HealthCheckApiEndpoint" value="/restapi/health" />
  </appSettings>
</configuration>