<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6642.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=NDOBREV\SQLSERVER;Integrated Security=SSPI;initial catalog=dailybuild1" name="Sitefinity" />
	</connectionStrings>
</dataConfig>